/** {
	margin: 30px;
	padding: 10px;
	border: 1px;
	font-size: 12;
	font: times-new-roman;

}*/
* {
	color: white;
}
body {
  background: url(IMG_0444.jpg) no-repeat;
  background-size: cover;
  padding: 30px;
}
main {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
h1 {
	text-align: center;
	color: red;
}
a {
	color: rgb(260,10,30);
}
p::first-letter {
	text-transform: uppercase;
	color: red;
	font-size: 30px;
	font: century-gothic;
}